.about{
  background-image: url(../../assets/bghome.jpg);
  padding-right: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(.3px);
  -webkit-filter: blur(.3px);
  height: auto;
  padding-top: 10px;
}
.Aboutinf{
  font-size: 20px;
}

@media (width < 900px ) {
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
display: inline-block;
align-items: center;
text-align: center;
  }
}