.home{
  background-image: url(../../assets/bghome.jpg);
  padding-right: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(.3px);
  -webkit-filter: blur(.3px);
  height: auto;
  padding-top: 10px;

}
.mini{
  display: flex;
margin-top: 30px;
justify-content: space-between;
gap: 10px;
flex-direction: column;

}
.sub{
  display: flex;
  gap: 10px;

}
.submini{
display: flex;
}
.sub2{
  margin-top: 20px;
}
.papers{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.paper{
  width: 250px;
  border-radius: 10px;
  color:rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.91);
margin: 10px;
transition:0.5s ease-in-out;
border: solid black;
  
}
.paper:hover{
background-color: rgba(127, 255, 212, 0.479);
cursor: pointer;


}
.border{
  border: solid black 2px;
  width: 290px;
  height: 240px;
background-color:rgba(204, 204, 143, 0.295);
color: black;
display: flex;
justify-content: center;
}

.border2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (width < 900px ) { 
.mini{
  flex-wrap: wrap;
  text-align: justify;

  justify-content: center;
}
.hsub{
  display: flex;  
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.sub{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.text{
font-weight: 100;
font-size: 21px !important;
}
}