.papers{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.paper{
  width: 250px;
  border-radius: 10px;
  color:white;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.91);
margin: 10px;
transition:0.5s ease-in-out;
  
}
.paper:hover{
background-color: rgba(127, 255, 212, 0.479);
}


