.Side{
  visibility: hidden;
}

.color{
  background-color: rgba(18, 107, 107, 0.822);

  }


.nav-link{
  color: white !important;
  font-size: 20px;
}
.dropdown-menu.show{
  background-color: rgba(5, 175, 175, 0.774) !important;
  margin-top: 10px;
}
.dropdown-menu.show:hover{
  background-color: rgba(0, 255, 255, 0.678) !important;

}
a.dropdown-item{
  color: black !important;
  font-size: 20px;
  transition: all .4s ease-in-out;
  cursor: pointer;
}
a.dropdown-item:hover{
  transform: rotate(.5deg) scale(.9);
  transition: all .2s ease-in
}
/*block underline*/
a{
  list-style: none;
  position: relative;

}
a::before{
  content: "";
  background-color: rgb(107, 4, 21);
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 3px;
  width: 0;
  transition: .3s ease-in-out;

}
a:hover::before{
  content: "";
  background-color: rgb(107, 4, 21);
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 3px;
  width: 100%;
}
/*block underline*/

@media (width < 900px ) { 

  .Side{
    visibility:visible;
    color: white !important;

  } 
  a::before{
    background-color: transparent;
  } 
  a:hover::before{
    background-color: transparent;
  }
  .none{
display: none;
  }
  .dropdown-menu.show{
    background-color: inherit !important;
  
  }
  
}